.page {
	margin: 20px;
	text-align: center;
}

@media (max-width: 600px) {
	.page {
		margin: 20px 0px;
	}
}

.interactions {
	text-align: center;
}

span a {
	text-decoration: underline;
}

.button-inline {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: auto;
	width: 100px;
	border-width: 0;
	background: transparent;
	color: inherit;
	text-align: inherit;
	-webkit-font-smoothing: inherit;
	padding: 0px;
	font-size: inherit;
	cursor: pointer;
	overflow: hidden;
}

.button-active {
	border-radius: 0px;
	border-bottom: 1px solid #000000;
}